
/* Footer styles */


    th, td {
      padding: 12px;
      border: 1px solid #ccc;
      text-align: left;
    }
    th {
      background-color: #f4f4f4;
    }
    .highlight {
      background-color: #e6ffe6 !important;
    }
    h1 {
      margin: 0; /* Remove margin for h1 */
      font-size: 2.25rem; /* 36px */
    }
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }